<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Lost and Found Finder: Temukan dan Laporkan Barang Hilang dengan Mudah"
		/>
		<meta name="dicoding:email" content="mahendraputraraharja@gmail.com" />
		<link rel="icon" href="./icon.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
</html>
